
.card_list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.card{
    border: 1px solid #e8e8e8;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #e8e8e8;
    overflow: hidden;
    min-width: 138px;
    width: 138px;
    padding-bottom: 14px;
    margin-right: 5px;
}

.card:nth-last-child(){
    margin-right: 0px;
}

.card img{
    border-radius: 12px 12px 0 0;
}

.card h5{
    margin-bottom: 3px;
    margin-top: 8px;
    padding: 0 10px 0 10px;
}
.card p{
    margin: 0;
    font-size: 12px;
    padding: 0 10px 0 10px;
}


